*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(270deg,rgb(213, 222, 176),rgb(147, 181, 201));
}
.container{
    background-color: rgb(145, 139, 139);
    width: 550px;
   margin-top: 20px;
   box-shadow: 0 0 30px black;
}
.container .container{
    background-color: rgb(237, 100, 100);
    color: rgb(53, 47, 47);
    width: 100%;
}

.container input::placeholder{
    font-size: 15px;
    font-weight: bold;
}
.container .register{
    margin-top: 10px;
    width: 350px;
}
.container .login{
    margin-top: 30px;
}
.log{
    margin-top: 150px;
    height: 430px;
}
.container .register button{
    font-size: 20px;
    font-weight: bold;
}
span{
    position: relative;
    margin-left: 280px;
    cursor: pointer;
    bottom: 30px;
}
nav{
    background-color: aquamarine;
    padding: 20px;
    height: 90px;
}
nav img{
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}
aside{
    height: 100%;
    width: 200px;
    background-color:purple;
}
aside img{
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}